@charset "utf-8";
/* CSS Document */
/*body{ padding-top:60px;}*/

.warp-login{ width:600px; margin:50px auto 0 auto;}

a, input, button {outline:none;}
#_loading-bar {top:40%;left:40%;width:200px;height:60px;z-index:9;position:absolute;display:none;}
#_totop {display:none;z-index:100;position:absolute;right:10px;bottom:100px;}
#_totop a {text-indent:-999px; overflow:hidden;display:block;width:52px;height:49px;background: 0 0 no-repeat;}
#_totop a:hover {background: 0 -50px no-repeat;}

#_loading_div{display:none;border:1px solid #999; width:98%; height:98%;line-height:100px;background:#ccc;position:absolute; left:1%; top:1%;text-align:center;font-size:14px;}

*{margin:0;padding:0;}
a{text-decoration: none}
.dialog{position: fixed;left: 0;top:0;width: 100%;height: 100%;z-index: 99;}
.feed-con{width: 530px;height: 450px;border:1px solid #333;border-radius: 12px;position: absolute;left: 50%;top:50%;margin:-240px 0 0 -280px;background: #fff;padding:15px;color: #333}
.feed-con h2{font-size: 24px;font-weight: bold;}
.radio-box{padding:12px 0;font-size: 14px;}
.radio-box label{margin-right: 36px;cursor: pointer;display:inline-block}
.radio-box label input{vertical-align: middle;display:inline-block}
.feed-con  p{font-size: 14px;padding-bottom: 12px;}
.feed-con textarea{border:1px solid #ababab;border-radius:6px;line-height: 24px;font-size: 14px;text-indent: 14px;outline: none;width: 360px;height: 200px;resize: none;padding: 12px}
.btn-box{padding-top:12px;}
.btn-box a{display: inline-block;width: 128px;height: 36px;line-height: 36px;text-align: center;border:1px solid #ababab;color: #333;font-size: 14px;margin-right: 12px;border-radius: 6px;transition: all .2s ease 0s;-webkit-transition:all .2s ease 0s;}
.btn-box a:hover{background: #ff7200;color: #fff;border-color: #ff7200}
.close{position: absolute;right: 12px;top:12px;cursor: pointer;width: 32px}
.hero-unit {
  padding: 60px;
  margin-bottom: 30px;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}